<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067487787603-hhi8jngp2hqksrj5p916l5j4b11i9kor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067487787603-hhi8jngp2hqksrj5p916l5j4b11i9kor</string>
	<key>API_KEY</key>
	<string>AIzaSyDjjQ-UFX3BER5Cnv5c9Yyrr-jrYAiLKsU</string>
	<key>GCM_SENDER_ID</key>
	<string>1067487787603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginUixFirebase</string>
	<key>PROJECT_ID</key>
	<string>dummy-project-db135</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-project-db135.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067487787603:ios:b4f97e4ab5fd140afbe4a6</string>
</dict>
</plist>